.header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 10px;
}

.header-subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: #aaa;
}

.header-title {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
}
