.container {
  margin: 0 auto;
  padding: 10px;
  max-width: 750px;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.title h2 {
  font-size: 2rem;
  color: #aaa;
}

.title h1 {
  font-size: 3rem;
  color: #fff;
}

.prompt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 5px;
}

.prompt-input {
  flex-grow: 1;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: #888;
  color: #ddd;
}

.prompt-input::placeholder {
  color: #bbb;
}

.prompt-icon {
  height: 1.25rem;
}

.prompt-button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background: #999;
}

.list {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.list-item {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  padding-left: 0.75rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: linear 30ms;
}

.list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.25rem;
  height: 100%;
  background: #aaa;
  border-radius: 0.125rem;
}

.list-item:hover {
  border-radius: 0.125rem;
  background: #ffffff18;
  color: #aaa;
}

.list-item:hover::before {
  background: #ddd;
}
