* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #000;
  color: #888;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}
